<div class="mainContainerAbout">

	<div class="about">
		<h2 class="about-shortDesc">Hello, my name is Gaurav Sobti </h2> 
		<h3 class="about-desc"> I am a full stack, android developer and a hobby designer. Check out my latest work at work page. </h3>
	</div>


</div>

<!-- I am not including this in container because I'd like to reuse it again and I know that it is a fixed element and fixed element by default are dependent on the DOM element -->

<div class="menuButton" >

	<div class="menuButton-bar"> </div>
	<div class="menuButton-bar"> </div>
	<div class="menuButton-bar"> </div>

</div>

