<div class="mainContainerProjects">
	
	<div class="displayText">
		<!-- Goal is to be easily able to understand in CSS file as well what kind of item this is -->
		<h1 class="displayText-heading">web portfolio</h1>
		<h3 class="displayText-description">Check out my latest web projects</h3>

	</div>

	<div class="filter">
		
		<div class="filter-buttons">
			<button class="filter-button">HTML</button>
			<button class="filter-button">CSS</button>
			<button class="filter-button">Javascript</button>
			<button class="filter-button">React</button>
			<button class="filter-button">Web Development</button>
		</div>

		<h3 class="filter-text"> Showing all projects. Use the filter to list them by skill or technology. </h3>

	</div>

	<div class="projects">

		<div class="project">

			<h2 class="project-title">Superman Better Than Batman</h2>

			<img src="<%=asset_path("batvssuper.jpg") %>" class="project-image">

		</div>

		<div class="project">

			<h2 class="project-title">Superman Better Than Batman</h2>

			<img src="<%=asset_path("batvssuper.jpg") %>" class="project-image">

		</div>

		<div class="project">

			<h2 class="project-title">Superman Better Than Batman</h2>

			<img src="<%=asset_path("batvssuper.jpg") %>" class="project-image">

		</div>

		<div class="project">

			<h2 class="project-title">Superman Better Than Batman</h2>

			<img src="<%=asset_path("batvssuper.jpg") %>" class="project-image">

		</div>

	</div>

	<div class="menuButton" onclick="myFunction(this)" >

		<div class="menuButton-bar menuButton--bar1"> </div>
		<div class="menuButton-bar menuButton--bar2"> </div>
		<div class="menuButton-bar menuButton--bar3"> </div>

	</div>


</div>